.tabla table{
    font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 30%;
     }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    
.tabla2 table{
  font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 70%;
     }
      td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }

   
.b1 {
  text-align: left;
}



