<h2>Procesador Super Escalar</h2>

<h5>Número de ciclos de reloj de cada instrucción</h5>


<div class="btn-group" role="group" aria-label="Basic example">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ADD
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="agregarAdd(1)" >1</a>
          <a class="dropdown-item" (click)="agregarAdd(2)">2</a>
          <a class="dropdown-item" (click)="agregarAdd(3)">3</a>
          <a class="dropdown-item" (click)="agregarAdd(4)">4</a>
          <a class="dropdown-item" (click)="agregarAdd(5)">5</a>
          <a class="dropdown-item" (click)="agregarAdd(6)">6</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SUBD
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="agregarSub(1)">1</a>
          <a class="dropdown-item" (click)="agregarSub(2)">2</a>
          <a class="dropdown-item" (click)="agregarSub(3)">3</a>
          <a class="dropdown-item" (click)="agregarSub(4)">4</a>
          <a class="dropdown-item" (click)="agregarSub(5)">5</a>
          <a class="dropdown-item" (click)="agregarSub(6)">6</a>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MULD
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="agregarMul(1)">1</a>
          <a class="dropdown-item" (click)="agregarMul(2)">2</a>
          <a class="dropdown-item" (click)="agregarMul(3)">3</a>
          <a class="dropdown-item" (click)="agregarMul(4)">4</a>
          <a class="dropdown-item" (click)="agregarMul(5)">5</a>
          <a class="dropdown-item" (click)="agregarMul(6)">6</a>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DIV
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="agregarDiv(1)" (click)="validar11()">1</a>
          <a class="dropdown-item" (click)="agregarDiv(2)" (click)="validar11()">2</a>
          <a class="dropdown-item" (click)="agregarDiv(3)" (click)="validar11()">3</a>
          <a class="dropdown-item" (click)="agregarDiv(4)" (click)="validar11()">4</a>
          <a class="dropdown-item" (click)="agregarDiv(5)" (click)="validar11()">5</a>
          <a class="dropdown-item" (click)="agregarDiv(6)" (click)="validar11()">6</a>
        </div>
      </div>
      <td *ngIf="validar1 == true">
      <button  type="button" class="btn btn-secondary" (click)="agregarCiclos()">Agregar</button>
      </td>
</div>


<br>
<br/>
<br>
<br/>
<br>
<br/>
<h5>Agregar una instrucción</h5>
<div class="btn-group" role="group" aria-label="Basic example"  >
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          INSTRUCTION
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="agregarInst(0)"  >ADD</a>
          <a class="dropdown-item" (click)="agregarInst(1)" >SUBD</a>
          <a class="dropdown-item" (click)="agregarInst(2)" >MULD</a>
          <a class="dropdown-item" (click)="agregarInst(3)" >DIV</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          DST
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="agregarDst(0)" >r0</a>
          <a class="dropdown-item" (click)="agregarDst(2)" >r2</a>
          <a class="dropdown-item" (click)="agregarDst(4)">r4</a>
          <a class="dropdown-item" (click)="agregarDst(6)">r6</a>
          <a class="dropdown-item" (click)="agregarDst(8)">r8</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          OP1
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="agregarOp1(0)">r0</a>
          <a class="dropdown-item" (click)="agregarOp1(2)" >r2</a>
          <a class="dropdown-item" (click)="agregarOp1(4)">r4</a>
          <a class="dropdown-item" (click)="agregarOp1(6)">r6</a>
          <a class="dropdown-item" (click)="agregarOp1(8)">r8</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button  id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
          OP2
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
          <a class="dropdown-item" (click)="agregarOp2(0)" (click)="validar()">r0</a>
          <a class="dropdown-item" (click)="agregarOp2(2)" (click)="validar()">r2</a>
          <a class="dropdown-item" (click)="agregarOp2(4)"(click)="validar()">r4</a>
          <a class="dropdown-item" (click)="agregarOp2(6)"(click)="validar()">r6</a>
          <a class="dropdown-item" (click)="agregarOp2(8)"(click)="validar()">r8</a>
        </div>
    </div>
    <td *ngIf="valido == true">
    <button  type="button"  class="btn btn-secondary" (click)="mostrarIns()"  >Agregar</button>
    </td>

</div>

<br><br/>


<div class="tabla">
<table>
    <tr>
        <th>#</th>
        <th>Instrucción</th>
        <th>Dst</th>
        <th>Op1</th>
        <th>Op2</th>
        <th>Eliminar</th>
    </tr>
     <tr *ngFor="let instru of instruccion; index as i">
        <!-- <td scope="row">S{{i+1}}</td> -->
        <td>{{instru.s}}</td>
        <td>{{instru.i}}</td>
        <td>{{instru.d}}</td>
        <td>{{instru.op1}}</td>
        <td>{{instru.op2}}</td> 
        <td><button (click)="deleteIns(instru)">X</button></td>
    </tr> 
 
</table>
</div>


<br>
<br/>
<br>
<br/>
<br>
<br/>
<h5>Emision en orden con ventana de 4 instrucciones(estacion de reserva)</h5>

<div class="tabla2">
  <table class="egt">
      <thead>
      <tr>
          <th>Ciclos</th>
          <th colspan="2">Despacho</th>
          <th colspan="4">Estaciones de Reserva</th>
          <th>UF1</th>
          <th>UF2</th>
          <th colspan="12" >ROB</th>
          <div class="b1">
            <button type="button"  class="btn btn-primary" (click)="siguienteCiclo()" > Siguiente Ciclo</button>
          </div>
      </tr>
      <tr>
          <th ></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>I</th>
          <th>S</th>
          <th>I</th>
          <th>S</th>
          <th>I</th>
          <th>S</th>
          <th>I</th>
          <th>S</th>
          <th>I</th>
          <th>S</th>
          <th>I</th>
          <th>S</th>
      </tr>
      
    </thead>
    <tbody>
      <tr *ngFor="let ins of robb; index as i">
        <td td scope="row">{{i+1}}</td> 
      
        <td>{{ins.d1}}</td>
        <td>{{ins.d2}}</td>
        <td>{{ins.e1}}</td>
        <td>{{ins.e2}}</td>
        <td>{{ins.e3}}</td>
        <td>{{ins.e4}}</td>
        <td>{{ins.uf1}}</td>
        <td>{{ins.uf2}}</td>

        <td>{{ins.i1}}</td>
        <td>{{ins.s1}}</td>

        <td>{{ins.i2}}</td>
        <td>{{ins.s2}}</td>

        <td>{{ins.i3}}</td>
        <td>{{ins.s3}}</td>

        <td>{{ins.i4}}</td>
        <td>{{ins.s4}}</td>

        <td>{{ins.i5}}</td>
        <td>{{ins.s5}}</td>

        <td>{{ins.i6}}</td>
        <td>{{ins.s6}}</td>
      </tr>
    </tbody>
   
  </table>
  </div>

  <br>
<br/>



  

<router-outlet></router-outlet>
